body {
    background-color:white ;
}
  
button {
    border-radius: 5px;
    width: 90%;
    /*background-color: goldenrod;*/
    color: whitesmoke;
    padding: 10px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.bold-text {
    padding: 15px;
}